<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8"/>
    <title>WDShare活动报名</title>
    <meta name="keywords" content="WDShare,西安前端交流会,活动报名"/>
    <meta name="description" content="WDShare西安前端开发者分享交流会,活动报名"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body>
<%- include ../module/header %>

<div class="mod">
    <h4 class="mod-head"><em><%= activeInfo.aName %></em></h4>

    <div class="mod-body">
        <div class="mod-summary">
            <strong>活动时间：</strong><%= activeInfo.aTime %> 报名截止日期：<%= activeInfo.aJoinEndTime %>
            <br/>
            <strong>活动地点：</strong><%= activeInfo.aAddress %> <br/>
            <strong>活动须知：</strong>
            本活动纯属公益，不收取任何费用。活动提供学习交流和交朋友的机会。为了您能得到更贴身的技能，请务必如实填写以下信息。
        </div>
        <div><strong style="display:block; padding:15px 0 5px; font-weight:bold; font-size:16px;">告诉朋友一起报名：</strong>

            <div class="bdsharebuttonbox">
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a ref="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                <a href="#" class="bds_twi" data-cmd="twi" title="分享到Twitter"></a>
            </div>
        </div>
        <div class="wds-content" id="project-info" style="display:none;">
            <h3>活动内容</h3>
            <%= activeInfo.aContent %>
        </div>
        <div class="wds-content">
            <h3 id="project-info-show" style="padding-left:0; text-align:center; cursor:pointer; margin-bottom:0;" onclick="document.getElementById('project-info').style.display='block';document.getElementById('project-info-show').style.display='none';document.getElementById('project-info-hide').style.display='block'"> 查看详情</h3>
            <h3 id="project-info-hide"
                style="padding-left:0; display:none; text-align:center; cursor:pointer; margin-bottom:0;"
                onclick="document.getElementById('project-info').style.display='none';document.getElementById('project-info-show').style.display='block';document.getElementById('project-info-hide').style.display='none'">
                收起</h3></div>
        <div class="wds-content wds-join"><h3></h3>

            <form name="joinform" id="joinform">
                <input type="hidden" name="aId" value="<%= activeInfo._id %>" />
                <div style="display:none;">
                    <textarea name="title"><%= activeInfo.aName %></textarea>
                    <textarea name="time"><%= activeInfo.aTime %>     报名截止日期：<%= activeInfo.aJoinEndTime %></textarea>
                    <textarea name="address"><%= activeInfo.aAddress %></textarea></div>
                <dl>
                    <dt>邮箱：</dt>
                    <dd><input type="text" name="mail" placeholder="请填写您的常用邮箱"
                               onblur="checkFormMail(this)"/><em>请正确填写邮箱</em><span style="color:#666;">通过邮箱接收邀请函</span>
                    </dd>
                </dl>
                <dl>
                    <dt>姓名/昵称：</dt>
                    <dd><input type="text" name="name" placeholder="请最好填写姓名"
                               onblur="checkFormName(this)"/><em>名称至少两个字符</em></dd>
                </dl>
                <dl>
                    <dt>公司：</dt>
                    <dd><input type="text" name="com" placeholder="请填写公司全称"/><span>选填</span></dd>
                </dl>
                <dl>
                    <dt>网站：</dt>
                    <dd><input type="text" name="web" placeholder="请填写个人主页或者公司网站"/><span>选填</span></dd>
                </dl>
                <dl>
                    <dt>我 HTML/CSS 技能：</dt>
                    <dd><label><input type="radio" checked="checked" name="html" value="0"
                                      style="width:auto;"/>不认识</label> &nbsp; <label><input type="radio" name="html"
                                                                                            value="1"
                                                                                            style="width:auto;"/>了解</label>
                        &nbsp; <label><input type="radio" name="html" value="2" style="width:auto;"/>熟悉</label> &nbsp;
                        <label><input type="radio" name="html" value="3" style="width:auto;"/>精通</label><span>选填</span>
                    </dd>
                </dl>
                <dl>
                    <dt>我 JS 技能：</dt>
                    <dd><label><input type="radio" checked="checked" name="js" value="0"
                                      style="width:auto;"/>不认识</label> &nbsp; <label><input type="radio" name="js"
                                                                                            value="1"
                                                                                            style="width:auto;"/>了解</label>
                        &nbsp; <label><input type="radio" name="js" value="2" style="width:auto;"/>熟悉</label> &nbsp;
                        <label><input type="radio" name="js" value="3" style="width:auto;"/>精通</label><span>选填</span>
                    </dd>
                </dl>
                <dl>
                    <dt>我 NodeJS 技能：</dt>
                    <dd><label><input type="radio" checked="checked" name="node" value="0"
                                      style="width:auto;"/>不认识</label> &nbsp; <label><input type="radio" name="node"
                                                                                            value="1"
                                                                                            style="width:auto;"/>了解</label>
                        &nbsp; <label><input type="radio" name="node" value="2" style="width:auto;"/>熟悉</label> &nbsp;
                        <label><input type="radio" name="node" value="3" style="width:auto;"/>精通</label><span>选填</span>
                    </dd>
                </dl>
                <dl>
                    <dt>其他技能：</dt>
                    <dd><input type="text" name="other" placeholder="填写其他IT技能"/><span>选填</span></dd>
                </dl>
                <dl><input type="hidden" name="content"/>
                    <dt>面试困惑：</dt>
                    <dd><textarea name="content_temp"></textarea><span>选填</span><br/><em
                                style="color:#f00;display:block; padding-left:0;">填写以往面试中遇到的困惑，或其他想说的话，该项填写更容易获取邀请函</em>
                    </dd>
                </dl>
                <dl class="radio">
                    <dt>您是否参与AA聚餐：</dt>
                    <dd><label><input type="radio" name="chi" value="1" checked="checked"/> 是</label> <label><input
                                    type="radio" name="chi" value="0"/> 否</label></dd>
                </dl>
                <dl>
                    <dd class="mod-but"><input type="submit" name="button" id="joinSubmit" value="提交报名"/></dd>
                </dl>
            </form>
        </div>
    </div>
</div>
<script>window._bd_share_config = {
        "common": {
            "bdSnsKey": {},
            "bdText": "我正在报名参加WDShare 西安交流会 第2期，希望你也一起参加。 活动官网【报名地址】：http://www.wdshare.org/",
            "bdDesc": "WDShare 西安交流会 第2期 活动报名",
            "bdPic": "http://www.wdshare.org/files/weibo-logo.jpg",
            "bdMini": "2",
            "bdMiniList": false,
            "bdPic": "",
            "bdStyle": "1",
            "bdSize": "32"
        }, "share": {}
    };
    with (document) 0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion=' + ~(-new Date() / 36e5)];</script>

<script src="/js/jquery-1.11.1.min.js"></script>
<script src="/js/main.js"></script>

<%- include ../module/footer %>
</body>
</html>
