<% include ../module/header.ejs %>

<!-- <div class="inform"><p><strong class="title">通知：</strong>经组委会协商，分享交流会调整为<strong style="color:#f00;">每两个月一次</strong>，第二个月最后一个星期天。 其他小活动留意官网！</p></div> -->
<div style="width:0; height:0; overflow:hidden;"><img src="http://www.wdshare.org/files/weibo-logo.jpg"/></div>
<div class="mod"><h4 class="mod-head"><em>进行中的活动</em></h4>
    <% oActives.forEach(function(active){ %>
    <div class="mod-body">
        <h2><%= active.aName %></h2>
        <div class="mod-type">
            时间：
            <%= active.aTime %>
            报名截止日期：
            <%= active.aJoinEndTime %>
            <br/>
            <%= active.aAddress %>
        </div>
        <div class="mod-but"><a href="/active/join/<%= active._id %>">我要报名</a></div>
        <div class="wds-content">
            <h3>活动内容</h3>
            <%= active.aContent %>
        </div>
    </div>
    <% }) %>

</div>
<div class="mod"><h4 class="mod-head"><em class="dead">已结束的活动</em></h4>
    <% dActives.forEach(function(active){ %>

    <div class="mod-body">
        <h2>
            <%= active.aName %></h2>
        <div class="mod-type">
            时间：
            <%= active.aTime %>
            报名截止日期：
            <%= active.aJoinEndTime %>
            <br/>
            <%= active.aAddress %>
        </div>
        <div class="wds-content">
            <h3>活动内容</h3>
            <%= active.aContent %>
        </div>
    </div>

    <% }) %>
</div>

<% include ../module/footer.ejs %>