<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title>WDShare管理中心-活动分类管理</title>
<meta name="auther" content="F7" />
<% include ../etc/htmlhead.ejs %>
</head>

<body>
<% include ../etc/head.ejs %>
<div class="manage">
  <% include ../etc/left.ejs %>
  <div class="manage-right">
    <h1 class="manage-title">活动分类</h1>
    <div class="manage-module">
      <div class="manage-module-head">
        <h3 class="manage-module-title">活动分类列表</h3>
        <div class="manage-tool">
          <a href="/manage/active/channel/create" class="green">添加活动分类</a>
        </div>
      </div>
      <div class="manage-module-con">
        <div class="manage-data">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>URL标识</th>
                <th>Tpl</th>
                <th>Date</th>
                <th>Manage</th>
              </tr>
            </thead>
            <tbody>
              <% result.forEach(function(channel){ %>
              <tr>
                <td><%= channel.name %></td>
                <td><%= channel.url %></td>
                <td><%= channel.end_tpl ? channel.end_tpl : '默认'%></td>
                <td><%= moment(channel.editDate).format('YYYY-MM-DD HH:mm:ss') %></td>
                <td><a href="/active/<%= channel.url %>" target="_blank">预览</a><a href="/manage/active/channel/edit/<%= channel._id %>">修改</a><a href="#" data-id="<%= channel._id %>" class="js-activeChannels-delete">删除</a></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
  </div>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>