<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title><%= company.name %> - WDShare</title>
<meta name="keywords" content="<%= company.tag %>" />
<meta name="description" content="<%= company.intro %>" />
<% include ../../etc/htmlhead.ejs %>
</head>

<body>
<% include ../../etc/head.ejs %>


<%
var jobsID = [];
jobs.forEach(function(job){
  jobsID.push(job._id);
})
%>

<input id="js-archives-id" type="hidden" value="<%=jobsID.join(',')%>" />
<input id="js-archives-model" type="hidden" value="job" />

<div class="company-head">
  <div class="company-head-con maxWidth">
    <div class="company-head-logo" style="background:url('/user/comlogo/<%= company._id %>') no-repeat center center;"></div>
    <div class="company-head-text">
      <h1 class="company-head-title"><%= company.name %><% if ( company.www ) { %> <a href="<%= company.www %>" target="_blank" class="company-head-link"></a><% } %></h1>
      <div class="company-head-description"><%= company.intro %></div>
    </div>
  </div>
</div>

<div class="company-end-nav maxWidth">
  <span>公司主页</span>
  <a href="/jobs/?company=<%= company._id %>">招聘职位(<%=jobCount%>)</a>
  <a href="#commentlist">面试评价(<em class="js-comment-count">0</em>)</a>
</div>
<div class="article job-end">
  <div class="maxWidth module">
    <% if ( !company.audit ) { %>
    <div class="inform" style="padding:0 0 40px;">
      <p class="inform-con" style="padding:20px"><strong class="red">注意：</strong>该企业暂未审核，审核后才会出现在官网！</p>
    </div>
    <% } %>
    <div class="job-end-right">
      <div class="job-end-companyType">
        <h3>公司基本信息</h3>
        <p><strong>领域</strong><%= company.realmName %></p>
        <p><strong>规模</strong><%= company.scaleName %></p>
        <p><strong>发展阶段</strong><%= company.seedtimeName %></p>
        <% if ( company.www ) { %>
        <p><strong>公司主页</strong><a href="<%= company.www %>" target="_blank"><%= company.www %></a></p>
        <% } %>
      </div>
      <div class="job-end-companyHead"></div>

      <div class="job-end-address">
        <h3>公司地址</h3>
        <p id="js-job-address"><%= company.address %></p>
        <div class="job-end-map" id="js-job-address-map">
          <iframe src="/static/ueditor/dialogs/map/show.html#center=<%= company.mapLng ? company.mapLng : 108.953439 %>,<%= company.mapLat ? company.mapLat : 34.265672 %>&amp;zoom=<%= company.mapZoom ? company.mapZoom : 10 %>&amp;width=318&amp;height=298&amp;markers=<%= company.mapLng %>,<%= company.mapLat %>&amp;markerStyles=l,A" frameborder="0" width="320" height="300"></iframe>
        </div>
      </div>

      <div class="job-end-tag">
        <h3>TAG</h3>
        <p><% company.tag.split(",").forEach(function(tag){ %>
            <span><%= tag%></span>
            <% }) %></p>
      </div>
    </div>
    <div class="job-end-left">
      <div class="article-con" id="article-detail">
        <h3>公司产品：</h3><br />
        <%- company.product %>
      </div>
      <div class="article-con" id="article-detail">
        <h3>公司介绍：</h3><br />
        <%- company.content %>
      </div>

      <div class="job-end-contact">
        <% if ( member.username ) { %>
          <dl class="job-end-manage">
            <dt>
              <a href="/user/<%= member._id %>" title="发布者：<%= member.username %>"><img src="/user/face/<%= member._id %>" /></a>
            </dt>
            <dd>
              <em><a href="/user/<%= member._id %>"><%= member.username %></a></em>
              <span>发布者</span>
            </dd>
          </dl>
        <% } %>
      </div>
    </div>

    <a name="commentlist"></a>
    <% if ( configIsComment ) { %>
    <!--  Comment  -->
    <div class="comment" id="js-comment">
      <h1>面试评价 <span>(面试评价只能在对应的职位页面下方发表)</span></h1>
      <div class="comment-list" id="js-comment-list">
        数据加载中...
      </div>
    </div>
    <!--  Comment End  -->
    <% } %>
  </div>
</div>

<% include ../../etc/foot.ejs %>
</body>
</html>