
<div class="myhome-head">
  <div class="myhome-head-bg">
    <div class="myhome-head-con maxWidth">
      <div class="myhome-head-user">
      	<% if (who  == "我") { %>
      	<a href="/user/editFace"><img src="/user/face/<%=member._id%>" /></a>
      	<% } else { %>
      	<img src="/user/face/<%=member._id%>" />
      	<% } %>
      	<h1><%=member.username%></h1>
      </div>
    </div>
  </div>
</div>
<div class="myhome-nav">
	<div class="myhome-nav-con maxWidth">
		<a href="/user/myactive/<%=member._id%>"><%=who%>参与的活动</a>
		<a href="/user/myarticle/<%=member._id%>"><%=who%>的文章</a>
		<!-- <a href="#"><%=who%>的项目</a> -->
		<a href="/user/mycomment/<%=member._id%>"><%=who%>的评论</a>
		<% if (user && user._id == member._id) { %>
		<a href="/user/message/<%=member._id%>"><%=who%>的留言</a>
		<% } else { %>
		<a href="/user/message/<%=member._id%>">给<%=who%>留言</a>
		<% } %>
		<% if (user && user._id == member._id) { %>
		<a href="/user/editFace">修改头像</a>
		<a href="/user/editInfo">修改资料</a>
		<a href="/user/editPassword">修改密码</a>
		<% } %>
		<!-- <a href="#">邀请他面试</a> -->
	</div>
</div>