<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<title><%= title %> - WDShare</title>
<meta name="keywords" content="<%= title %>" />
<meta name="description" content="<%= title %>" />
<% include ../etc/htmlhead.ejs %>
</head>

<body>
<% include ../etc/head.ejs %>
<% include ../etc/article-head-ad.ejs %>
<%
  var showPageSize = 5;
      item_sum = +pages.sum,
      page_current = +pages.page,
      page_size = pages.pagesize,
      page_sum = Math.ceil(item_sum/page_size),
      pathname = pages.pathname,
      beforeOmit = false,
      afterOmit = false;


  function getPageHTML(c) {
    var _html = '';
    if ( i+1 == +page_current ) {
      _html += '<span class="pages-current">'+ c +'</span>';
    } else {
      _html += '<a href="'+ pathname +'?page='+ c +'&pagesize='+ page_size +'">'+ c +'</a>';
    }
    return _html;
  };
%>
<div class="article-list">
  <div class="maxWidth module">
  <h2 class="module-title">企业名录</h2>
    <div class="companys-list-con">
      <% result.forEach(function(item){ %>
      <div class="companys-list-item">
        <div class="companys-list-item-body">
          <a href="/companys/<%=item._id%>" class="companys-list-item-logo" style="background-image:url('/user/comlogo/<%=item._id%>');"></a>
          <div class="companys-list-item-text">
            <h3><a href="/companys/<%=item._id%>"><%=item.name%></a></h3>
            <p><em><%=item.scaleName%></em>团队</p>
            <p><em><%=item.jobCount%>个职位</em>在招聘</p>
            <p><em><%=item.commentsCount%>条</em>评论</p>
          </div>
        </div>
        <div class="companys-list-item-intro"><%=item.intro%></div>
        <div class="companys-list-item-foot">
          <em class="companys-list-item-location"><i></i><%=item.cityName%></em>
          <em class="companys-list-item-range"><i></i><%=item.realmName%></em>
          <em class="companys-list-item-stage"><i></i><%=item.seedtimeName%></em>
        </div>
      </div>
      <% }) %>
    </div>

    <% if ( page_sum > 1 ) { %>
    <div class="pages">
      <div class="pages-con">
        <% if ( page_current != 1 ) { %>
        <a href="<%=pathname%>?page=<%=+page_current-1%>&pagesize=<%=page_size%>" class="pages-prev">上一页</a>
        <% } else { %>
        <span class="pages-prev pages-dead">上一页</span>
        <% } %>
        <% for( var i=0; i<page_sum; i++ ) { %>
          
          <% if ( i == 0 || i == page_sum-1 ) { %>
            <%- getPageHTML(i+1) %>
            <% continue %>
          <% } %>

          <% if ( page_current-Math.floor(showPageSize/2) > 2 && !beforeOmit ) { %>
            <span class="pages-omit">...</span>
            <% beforeOmit = true %>
          <% } %>

          <% if ( i+1 > page_current+Math.floor(showPageSize/2) ) { %>
            <% if ( !afterOmit ) { %>
              <span class="pages-omit">...</span>
              <% afterOmit = true %>
            <% } %>
            <% continue %>
          <% } %>

          <% if ( i+1 >= page_current-Math.floor(showPageSize/2) ) { %>
            <%- getPageHTML(i+1) %>
            <% continue %>
          <% } %>

        <% } %>
        <!-- <span class="pages-omit">...</span> -->
        <% if ( page_current >= page_sum ) { %>
        <span class="pages-next pages-dead">下一页</span>
        <% } else { %>
        <a href="<%=pathname%>?page=<%=+page_current+1%>&pagesize=<%=page_size%>" class="pages-next">下一页</a>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>

<% include ../etc/foot.ejs %>
</body>
</html>